.swiper-wrapper {
  padding: 0;
}

.slide-inner {
}

.swiper-container {
  //overflow: hidden;
}
.swiper-slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  // object-position: 50% 50%;
  /*this one holds the dimension of each slides and can be changed according to the user wish*/
}
