.main {
  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .main-sub-title {
      text-align: center;
      color: #130e3a;
    }
  }
}
