@import "../../scss/variables/_variables.scss";

.contact {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-attachment: none;

  .contact-container {
    height: calc(100vh - #{$headerSize} - #{$footerSize});
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-image {
      img {
        width: 100%;
        transform: rotate(270deg);
        object-fit: cover;
      }
    }
    .contact-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        color: #212f3d;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .fas {
        padding-right: 20px;
        font-size: 2rem;
        color: #018c2d;
      }

      .fab {
        padding-right: 50px;
        font-size: 3rem;
        color: #1b3191;
      }

      @media (min-width: 567px) {
        h1 {
          font-size: 2.2rem;
        }
        .fas {
          font-size: 3rem;
        }
        .fab {
          font-size: 4rem;
        }
      }

      @media (min-width: 992px) {
        h1 {
          font-size: 2.8rem;
        }
        .fas {
          font-size: 4rem;
        }
        .fab {
          font-size: 5rem;
        }
      }
    }
    .contact-bottom-title {
      margin-right: 40px;
      margin-top: 20px;
      font-size: 2.1rem;
      font-weight: normal;
      color: #e55220;
    }

    @media (min-width: 567px) {
      .contact-bottom-title {
        margin-right: 80px;
        font-size: 2.4rem;
      }
    }

    @media (min-width: 992px) {
      .contact-bottom-title {
        margin-right: 80px;
        font-size: 2.9rem;
        font-weight: bold;
      }
    }
  }
}
