@import '../../scss/mixins/_mixins.scss';
@import '../../scss/variables/_variables.scss';
$back-color: #a25300;

.nav-item {
  .nav-link {
    text-transform: uppercase;
    @include adaptive-fontSize(16, 20);
    font-weight: 600;
    margin-left: 35px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    letter-spacing: 0.5px;
    position: relative;
  }

  // .nav-link:after {
  //   position: absolute;
  //   width: 75%;
  //   height: 3px;
  //   opacity: 0;
  //   display: block;
  //   content: '';
  //   color: yellow;
  //   background-color: yellow;
  //   z-index: 5;
  //   transition: 0.3s;
  // }

  // .nav-link:hover {
  //   color: yellow;
  // }
  // .nav-link:hover:after {
  //   opacity: 1;
  // }
}

.navbar {
  background: $back-color;
  opacity: 1;
  z-index: 2;
}
