@import '../../scss/mixins/_mixins.scss';
@import '../../scss/variables/_variables.scss';
$back-color: #a25300;

.footer {
  background-color: $back-color;
  width: 100%;
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    @include adaptive-fontSize(12, 16);
    @include adaptive-padding(5, 30);
  }
}
